body{
   margin: 0 auto;
    width: 60%;
}
.logo img{
    height: 40px;
    margin-top: 20px;  
}
.menu ul{
    background-color: aqua;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    display: flex; 
    gap: 0.2em;
}
.socialandtext{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social img{
    height: 40px;
    cursor: pointer;
}
.fotot{
    display: inline-flex;
}
.fotot img{
   max-width: 60%;
   height: 400px;
   overflow: hidden;
}
.alltogether{
    display: flex;
    justify-content: space-between;
}
.ordernow form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-right: 40px;
}
input[type="Submit"]{
    width: 40%;
}
.tiramisu h4 p{
    font-weight: 400;
    margin-left: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin-bottom: 20px;
    height: 100px;
    align-items: center;
    margin-left: 10px;
}
.footer h4{
    margin-block-end: 0;
    margin-block-start: 0;  
}
.submit1{
    margin-top: 10px;
}
.option{
    padding: 0 40px;
    margin-left:25px;
}
.h4new{
    margin: 25px;
}
